

/* !1.tagname selector */

 p{
    color: red;
} 


/* !2.id selector */

  #p1{
    color:brown;
} 


/* !3.Class selector */
/* 
.p3{
    color:olivedrab;
} */

/* !4.Universal selector */

/* *{
    color:cornflowerblue
} */

/* ! group selector */
/* 
h1,p,ol{
    color:white;
} */
