*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.outer{
    height: 100vh;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer>.inner{
    height: 400px;
    width: 600px;
    background-color: antiquewhite;
    background-image: url("https://images.pexels.com/photos/19727180/pexels-photo-19727180/free-photo-of-a-house-in-the-snow-with-trees-and-snow.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" ) ;
    background-repeat: no-repeat;
    background-position: center center;

    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
}


.outer>.inner>h1{
    /* color: antiquewhite; */
}